*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}


.bg {
    background: url(https://cdn.pixabay.com/photo/2020/02/19/21/49/workshop-4863393_960_720.jpg) no-repeat center center/cover;
    position: absolute; 
    top: -30px;
    left: -30px;
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
    width: calc(100vw + 60px);
    
}

.loading-text{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    
}